# Node modules
node_modules/

# Environment variables
.env

# Firebase service account key
serviceAccountKey.json

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Other potentially sensitive files
.idea/
.vscode/
